
	* {margin:0; padding:0;}
    html {background-color:#fff;}
    body {
	     max-width:960px;
	     margin:auto;
	     background-color:gray;
	     overflow:auto;
    }
/*
		header {
		}
*/
    }
    div.promo {background-color:yellow;}
	  figure.one {min-height:200px; width:33%; float:left;}
	  figure.two {min-height:200px; width:33%; float:left;}
	  figure.three {min-height:200px; width:33%; float:left;}
	  figure img {width:100%;}

	  aside {background-color:black; color:white;}

	  footer {background-color:green; clear:both;}

	/* Nav Rules */
	/* nav */
.nav {
	position: relative;
	margin: 20px 0;
}
.nav ul {
	margin: 0;
	padding: 0;
}
.nav li {
	margin: 0 5px 10px 0;
	padding: 0;
	list-style: none;
	display: inline-block;
}
.nav a {
	padding: 3px 12px;
	text-decoration: none;
	color: #999;
	line-height: 100%;
}
.nav a:hover {
	color: #000;
}
.nav .current a {
	background: #999;
	color: #fff;
	border-radius: 5px;
}